html
  head
    title Steffen's Resume
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="style-cv.css", attr)
  body
    h1#title Steffen Sullivan
    #selfInfo
      .info Phone Number: <a href="tel:+12052922163"> 1(205) 292-2163 </a>
      .info Email: <a href="mailto:sullivan@cerebrafi.com">sullivan@cerebrafi.com</a>
      .info Address: <a href="https://goo.gl/maps/No79yGYsLP82">2045 Lee Road 137, Auburn Alabama 36832</a>
    #mainBody
      p Dear Mr. / Miss Discord
      p I am guy who writes software and junk. Give me a job please.

    