ul 
    li Developing a virtual lab assistant for Student Projects and Research Committee called Karen
    li Karen uses a package manager for expendability similar to Amazon Alexa
    li Karen is written using <strong>Node.js</strong> and uses <strong>Dialog Flow</strong> for interpreting human language.