ul
    li Developing a new lab entry / security system for Broun Hall at Auburn University.
    li System will control user access to secure labs using a variety of sensors including biometric.
    li System will be penetration tested by in house experts.
    li System will be in production by end of Summer 2018.