p.
  At LibData I did front end development for web applications as well as updated the already in use back end code to add new features.
p.
  I updated chrome apps to work with Google's new Material design language.
p.
  The back end services where written in Java/Scala while most of the user interface was written in HTML.
p.
  I also prototyped new user interfaces using the professional digital design software Sketch and implemented them using HTML, CSS, and JavaScript.
