<!-- p.
  At LibData I did front end development for web applications as well as updated the already in use back end code to add new features.
p.
  I updated chrome apps to work with Google's new Material design language.
p.
  The back end services where written in Java/Scala while most of the user interface was written in HTML.
p.
  I also prototyped new user interfaces using the professional digital design software Sketch and implemented them using HTML, CSS, and JavaScript. -->

ul
  li Updated the in production back-end server to add new features using <strong>Java</strong> and <strong>Scala</strong>.
  li Updated the in production Chrome app to reflect Google's new material design as well as added features such as a bulletin board. This helped increase users of LibData by <strong>10%</strong>.
  li Created patron logging software for a client using <strong>Node.js</strong> and <strong>Electron</strong>, increasing patron lookup and logging performance by <strong>90%</strong> compared to the client's old method.