p.
  In the Auburn Nanotech Group I developed  an application called the Auburn University Cryo Measurement System or AUCMS.

p.
  The AUCMS is designed to perform long term testing on superconducting circuits. It controls current sources, switch matrix chips, multi-meters, and more to collect data and stress these circuits. The data it collects is graphed with key points of the data, such as critical current, resistance gap, and normal resistance shown in real-time. It uses algorithms developed by me to do the real-time analysis. The goal is to eventually use the data to determine what environmental factors affect the circuits.
p.
  The data analysis and instrument control is implemented using Python, while the GUI is developed using NodeWebkit.
